*{
  margin: 0px;
  padding: 0px;
}
video{
  width: 100%;
  height: 100vh;
  object-fit:fill;
  position: relative;

}
.header{
  background-color:transparent;
  height: 5rem;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content:space-around;
  background-color:black;
  mix-blend-mode: multiply;
  color: white;
  font-size: 2em;
 
}
.header-left{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
a{
  text-decoration: none;
  color: white;
}
input{
  width: 40%;
  height: 3em;
color: white;
font-size: 0.5em;
padding: 15px;
}
.main{
  position: absolute;
  top: 40%;
  display: flex;
  align-items: center;
  margin-left: 5em;
}
img{
  height: 15rem;
  margin-right:10em;

}
p{
  color:white;
  background-color: black;
  mix-blend-mode: multiply;
  font-size: 1em;
  
}
.dropdown-content{
  background-color:black;
  color:white;
  display: none;
  position: absolute;
  top: 3.5rem;
  width: 5rem;
}
.drop{
  color: white;
}
.dropdown:hover .dropdown-content{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-direction: column;
}